body {
    padding: 0 5vw 60px 5vw;
}

text,
path,
line {
    font-size: 1.7vh;
    color: #7d867d;
}

rect {
    fill: none;
}

svg {
    overflow: visible;
}



#sliderContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;

}

input {
    width: 825px;
    height: 25px;
    margin: 50px 0 0 0;
    appearance: none;
    background: none;
    outline: none;
    border: #92ba92 1px solid;
    border-radius: 20px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: #92ba92;
    cursor: pointer;
    border-radius: 50%;
}

input::-moz-range-thumb {
    border: none;
    width: 25px;
    height: 25px;
    background: #92ba92;
    cursor: pointer;
    border-radius: 50%;
}

.cell {
    cursor: pointer;
}

#visualisationSvg>g:nth-child(1)>text:nth-child(13),
#visualisationSvg>g:nth-child(2)>text:nth-child(13) {
    font-size: 15px;
}

#visualisationSvg {
    display: flex;
    flex-direction: column;
}